version: '3.8'
services:
  dashboardfaculdades:
    build:
      context: .
      dockerfile: Dockerfile
    image: dashboardfaculdades:latest
    hostname: "{{.Service.Name}}.{{.Task.Slot}}"
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: '1'
      NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
      NEXT_PUBLIC_SUPABASE_ANON_KEY: ${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
      EVOLUTION_API_URL: ${EVOLUTION_API_URL}
      EVOLUTION_API_KEY: ${EVOLUTION_API_KEY}
      EVOLUTION_API_INSTANCE: ${EVOLUTION_API_INSTANCE}
      WHATSAPP_PROVIDER: ${WHATSAPP_PROVIDER}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_WHATSPP_FROM: ${TWILIO_WHATSPP_FROM}
      BAILEYS_API_URL: ${BAILEYS_API_URL}
      BAILEYS_API_KEY: ${BAILEYS_API_KEY}
      WHATSAPP_WEBHOOK_SECRET: ${WHATSAPP_WEBHOOK_SECRET}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
    networks:
      - NetSync
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.http.routers.wchat-app.rule=Host(`app.wchat.digital`)
        - traefik.http.routers.wchat-app.entrypoints=websecure
        - traefik.http.routers.wchat-app.tls.certresolver=letsencryptresolver
        - traefik.http.routers.wchat-app.service=wchat-app
        - traefik.http.services.wchat-app.loadbalancer.server.port=3000
        - traefik.http.services.wchat-app.loadbalancer.passHostHeader=true

networks:
  NetSync:
    name: NetSync
    external: true